.DS_Store
.changeset
.claude
.env
.env*
.envrc
.gitattributes
.github
.gitignore
.husky
.mcp.json
.npmignore
.turbo
.vscode
CLAUDE.md
CLAUDE.local.md
biome.json*
biome.jsonc
bun.lock
bunfig.toml
coverage
dist
docs
lib
node_modules
src/**/*.test.ts
src/cli
tsconfig.json
turbo.json
tsdoc.json
types
