.DS_Store
biome.jsonc
turbo.json
lib
docs
.claude
.husky
.turbo
.vscode
.github
src/**/*.test.ts
src/cli
node_modules
.changeset
tsconfig.json
biome.json*
.env
.env*
.envrc
.gitattributes
.gitignore
CLAUDE.md
bunfig.toml
turbo.json
coverage
dist
types
bun.lock
.npmignore
.mcp.json
.DS_Store